*{
	margin: 0;
	padding: 0;
}
/*修改密码整个页面的位置*/
.main{
	width: 1000px;
	margin-top: 20px;
	margin-left: 50px;
}
.userList{
	width: 100%; 
	height:100px; 
	margin-top:2%;
	line-height: 100px;
}
.userList .userName{
	float: left;
	width: 25%;
	margin-left: 20px;
}
.userList .passWord{
	float: left;
	width: 25%;
}
.userList .changeBtn{
	float: left;
	width: 25%;
	text-align: right;
}
.userList .changeBtn .btn{
	background-color: rgb(3,184,204);
}
.container .content{
	margin-left: 10%;
	width: 100%;
}
